<a href = "/map"><button type="button" ID = "show_button" class="btn btn-default">Back to Spill Map</button></a>
<object width="850" height="1100" data="https://deq.nd.gov/FOIA/Spills/Summary_Reports/<%= @spill.incident_url %>_Summary_Report.pdf"></object>

