<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
<body>
  <div id="map"></div>
<script>
function initMap() {
  var myLatLng = {lat: <%= @spill.latitude %>, lng: <%= @spill.longitude %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });

  map.setMapTypeId('satellite');
}
</script>

<a href = "/map"><button type="button" ID = "show_button" class="btn btn-default">Back to Spill Map</button></a>
<object width="850" height="1100" data="https://deq.nd.gov/FOIA/Spills/Summary_Reports/<%= @spill.incident_url %>_Summary_Report.pdf"></object>
</body>

