<div class="jumbotron">
<img width='1000px' src='https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ii8a2M1ou56o/v1/-1x-1.jpg'/>
  <h1>Welcome to Bakken Spill Mapr!</h1>
  <p>A geographical user-interface for information on Spills in the Bakken</p>
  <p><a class="btn btn-primary btn-lg" href="/map" role="button">View Map</a></p>
</div>

<table>
<tr>
<td><div class="well well-lg"><h2><i>Bakken SpillMapr provides user-friendly and up-to-date information on environmental spills in North Dakota, home of the world-famous Bakken oil-field.</i></h2></div></td>
<td><img class="image" style="width: 800px; height: 400px; margin: 0 auto" src="https://www.minnpost.com/sites/default/files/asset/d/dbdb4s/dbdb4s.jpg"/></td>
</tr>



<tr>
    <td><div class="well well-lg"><h2 width = "500px"><i>This website pulls data from the State of North Dakota Environmental Incident Report database, shown to the right:</i></h2></div></td>
    <td><a href = "https://deq.nd.gov/FOIA/Spills/default.aspx/"><img width="1000" height="500" src="/NDDH.png"/></a><td>
</tr>

<tr>
<td><div class="well well-lg"><h2><i>In the last 10 years the Bakken has seen a sharp increase in oil drilling activity, which has led to a sharp increase in spill activity.  The graph to the right shows how the number of spills reported in the State has increased since the boom in oil activity.</i></h2></div></td>
<td><img width = 1000px src = "/graph.png"/></td>
</tr>

<tr>
    <td><div class="well well-lg"><h2 width = "500px"><i>Bakken SpillMapr is a much more user friendly and interactive interface for the data.</i></h2></div></td>
    <td><a href = "/map"><img width="800" height="500" src="/map.png"/></a><td>
</tr>

</table>







 



<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
