<div class="jumbotron">
<img width='1000px' src='https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ii8a2M1ou56o/v1/-1x-1.jpg'/>
  <h1>Welcome to Bakken Spill Mapr!</h1>
  <p>A geographical user-interface for information on Spills in the Bakken</p>
  <p><a class="btn btn-primary btn-lg" href="/map" role="button">View Map</a></p>
</div>

<table>
<tr>
<td><div class="well well-lg"><h2><i>Bakken SpillMapr provides user-friendly and up-to-date information on environmental spills in North Dakota, home of the world-famous Bakken oil-field.</i></h2></div></td>
<td><img class="image" style="width: 800px; height: 400px; margin: 0 auto" src="https://www.minnpost.com/sites/default/files/asset/d/dbdb4s/dbdb4s.jpg"/></td>
</tr>



<tr>
    <td><div class="well well-lg"><h2 width = "500px"><i>This website pulls data from the State of North Dakota Environmental Incident Report database, shown to the right:</i></h2></div></td>
    <td><a href = "http://www.ndhealth.gov/ehs/foia/spills/"><img width="1000" height="500" src="https://e5d1b366-a-62cb3a1a-s-sites.googlegroups.com/site/jskordimages/home/NDDH%20Site.png?attachauth=ANoY7cqYOY6aU0fwHKSIFdV_B-vgDl-WeRY5WW3EVLLro6XZ94VZ_lQbItXAANbM3BhzvvfdxjrdxlIfUlIE-luujrh3DV8MH8kDV61LiaHcvsq_De67_f-gjdEpfiNDgyRyVw_1C-4DFXQfG8pMGer7jJNSb4AEfpAvLhfkaHtrKQTfY_9YoQ7vdlTwYnDRKaWjmGaYWur2VUl83D2aGrrY5WJn-NPY4w%3D%3D&attredirects=0"/></a><td>
</tr>

<tr>
<td><div class="well well-lg"><h2><i>In the last 10 years the Bakken has seen a sharp increase in oil drilling activity, which has led to a sharp increase in spill activity.  The graph to the right shows how the number of spills reported in the State has increased since the boom in oil activity.</i></h2></div></td>
<td><img width = 1000px src = "https://e5d1b366-a-62cb3a1a-s-sites.googlegroups.com/site/jskordimages/chart/Screen%20Shot%202017-01-24%20at%206.59.43%20PM.png?attachauth=ANoY7cq5wo4fGq7r9tWFBDI4HeFbe_Wv9w6_XUySwn5fKNFyrKY8jO3HrA3e8dP1DM4YXst1tWcPJTHwriuujm4HDFj9LWxY7JY2dA5UqpItuygwdUYqwUp2gIXVY5EAx9Oya1L4SLrU4JcOIMrPTyhs_v7Ga1JXoBNfzfaowZ1AkPXyTMkHGoFrTVtXeO-9XGLeFRfj5T5foVc8on-Q0ONJdC3HZSdMgT_97I6kBwdoJZpIxbARIVPz2D8zyDWUj9cPoUN-Iauf&attredirects=0"/></td>
</tr>

<tr>
    <td><div class="well well-lg"><h2 width = "500px"><i>Bakken SpillMapr is a much more user friendly and interactive interface for the data.</i></h2></div></td>
    <td><object width="800" height="500" data="https://e5d1b366-a-62cb3a1a-s-sites.googlegroups.com/site/jskordimages/Screen%20Shot%202017-01-24%20at%206.14.53%20PM.png?attachauth=ANoY7cqZnvU70m_J7dxUCMcWcY-Ql1wl3cPgfyQJORDeN43YGGW3JwgiQN3m8CWqZCjqIL1_et_DtZPcpmGRgCEf_bjIN6lHhj-hOeUa7MEP7tGfOlxoyA7PmRiPeZyOfKydI4xNG7chkYwbyeC-r7NuxAfSCovvGuxBrRiS7d9goR88KOZrwcs5XqMjFT2fnCZV4dQ6JOYgIwfS7M4yyIC5HQhJj9Vf0HOXJ850mMSyud3bofQO_Fub4bIIg7UXCCsNZFXpbSon&attredirects=0"></object><td>
</tr>

</table>







 



<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
