<div class="jumbotron">
<img width='1000px' src='https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ii8a2M1ou56o/v1/-1x-1.jpg'/>
  <h1>Welcome to Bakken Spill Mapr!</h1>
  <p>Your go-to source for user-friendly and up-to-date information on Spills in the Bakken</p>
  <p><a class="btn btn-primary btn-lg" href="/map" role="button">View Map</a></p>
</div>