<!DOCTYPE html>
<html>
  <head>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>

    #map {
      height: 110%;
      width: 100%;
      border: solid;
    }

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }





    </style>
  </head>
  <body>  


    <div id="map">hello</div>
    


    
    <script>

      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: new google.maps.LatLng(48,-100),
          mapTypeId: 'satellite'
        });
      }

      var spills = [];

      // spills.push("hello");
      // spills.push("goodbye");

      // console.log(spills);



      $(document).ready(function() {
        $.getJSON('/api/v1/search',{
          format: "json"
        }).done(function(data){
          // console.log(data);
          for (i = 0; i < data.length; i++) {
            spills.push(data[i]);
          }
        });
      });

      console.log("this is the spills array:");
      console.log(spills);
      console.log("above was the spills array");




    // $.getJSON('/api/v1/search', function(data) {
    //   for (i = 0; i < data.length; i++) {
    //     console.log(data[i]);
    //   }
      

    // });



      //     for (i = 0; i < data.length; i++) {
      //   spills.push(data[i]);
      // }

    // console.log(spills);



    // for (i = 0; i < spills.length; i++) { 
    //   marker = new google.maps.Marker({
    //     position: new google.maps.LatLng(locations[i][1], locations[i][2]),
    //     map: map
    //   });
    // }

    </script>





    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzNgVwahZQ63o16EMv8eU4XFvdkgdr2XM"></script>




  </body>
</html>