<!DOCTYPE html>
<html>
  <head>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>

    #map {
      height: 110%;
      width: 100%;
      border: solid;
    }

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>    
    <div ng-app="app" ng-controller="mapCtrl">
      {{ 1 + 1 }}
      {{greeting}}
    </div>
    <div id="map"></div>


    <script type="text/javascript">



    var startDate = "2012";
    var endDate = "2013";
 /* global $, google */

    function initMap() {
      var uluru = {lat: 48.074616, lng: -102.979432};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: uluru
      });

      console.log(startDate);
      console.log(endDate);





      $.getJSON("/api/v1/search?start_date=" + startDate + "&end_date=" + endDate, function(data) {
        console.log(data);
        data.forEach(function(spill) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(spill.latitude, spill.longitude),
            map: map
          });
        });
      });
    }

    </script>





            <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzNgVwahZQ63o16EMv8eU4XFvdkgdr2XM">
    </script>
      </div>
    </div>



  </body>
</html>